.Auth-form input::placeholder {
    font-size: 1rem;
    text-overflow: ellipsis;
}


.Auth-form input {
    border: 2px solid #2D2B35;
    transition: all 0.2s ease;
}

.Auth-form input:focus {
    border: 2px solid  transparent;
    box-shadow: 0 0 0 2px rgb(250, 88, 182,0.3);
    background-color: rgb(250, 88, 182,0.06);
}